@page {
    size:landscape
}  
body {
    page-break-before: avoid;
    font-size: 15px; 
}
@media print {
    .table td {
        background-color: transparent !important;
    }
    .table th {
    background-color: transparent !important;
    }
}
.myTable { 
    width: 100%;
    font-size: 15px;
    text-align: center;	
    background-color: white;
    border-collapse: collapse; 
}
.myTable th { 
    text-transform:uppercase;
    background-color: secondary;
    color: black; 
}
.myTable td, .myTable th {	
    padding: 5px;
    border: 1px solid black;
}
.card-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the value to set the desired gap */
}

.dt-buttons{
    margin-left: 30px;
}

.dataTables_empty{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
